<h1><%= @pet.name %></h1>

<ul>
  <li>Species: <%= @pet.species %></li>
  <li>Address: <%= @pet.address %></li>
  <li>Found on: <%= @pet.found_on %></li>
</ul>

<%= link_to 'Back to all pets', pets_path, class: 'btn btn-primary' %>
<%= link_to 'Edit pet', edit_pet_path(@pet), class: 'btn btn-warning' %>
